/* 重置样式 */

page,
view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
  box-sizing: border-box;
}

/* 页面样式 */
page {
  font-size: 16px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FE;
}

/* 清除按钮默认样式 */
button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  line-height: normal;
  font-size: inherit;
  color: inherit;
  
  &::after {
    border: none;
  }
}

/* 清除输入框默认样式 */
input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* 清除图片默认样式 */
image {
  display: block;
  height: auto;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
} 